<!DOCTYPE html>
<html>
<head>
    <title>OCR Sample</title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/intro.css" />
    <link rel="stylesheet" href="/stylesheets/selectbox.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script type="text/javascript" src="/javascripts/rotate.js"></script>
    <script type="text/javascript" src="/javascripts/intro.js"></script>
</head>
<body>
    <br /><br/><br /><br/><br /><br/><br />
        <div class="floatLeft">
            <div class="topmargin">
                <div class="fontsize">Image</div>
                <a href="javascript:;" onclick="javascript:showPopup()">
                   <input class="btd_icon"  id="upload_btn" type="image" src="/images/btd_01.png">
                </a>
            </div>
            <!--<div id="rotBtn"><img class="btn-img" src="/images/rotation_icon.png" /></div>-->
            <img id="img"/>
        </div>
       
        <div class="ocrnamemargin">
            <div id="ocrName" class="fontsize minimal">OCR</div>
            <div>
                <select name="formSelect" id="formSelect">
                        <option value="1" selected>양식 선택</option>
                        <option value="PACKING LIST">PACKING LIST</option>
                        <option value="COMMERCIAL INVOICE">COMMERCIAL INVOICE</option>
                </select>    
                <input id="insertData" type="image" src="/images/btd_insert_disable.png">        
            </div>            
        </div>
        <form id="data" name="data">
            <input type="hidden" name="paramCnt" id="paramCnt"/>
            <div class="floatLeft3" id="dataForm">
            </div>
        </form>
        <div id="poplayerline">
        </div>    
    
    </body>
</body>
</html>