.floatLeft { float: left; width: 700px; height: 800px; margin: 5px; position:relative }
.floatLeft > #rotBtn { position: absolute; right: 0; background: white; padding: 0; border: 0; margin: 1px; opacity: 0.5; z-index: 1; display:none; }
.floatLeft > #rotBtn > img { width: 50px; height: 50px; }
.floatLeft2 { float: left; height: 800px; }
.floatLeft2 > select { height: 40px; margin-top: 380px; }
.floatLeft3 { float: left; width: 800px; height: 900px; margin: 5px; position:relative; border:1px solid #BDBDBD; padding: 3px; }
/*.floatLeft2 { float: left; width: 500px; height: 800px; overflow: auto; margin: 5px; }*/
#img { width: 700px; height: 800px; z-index: 0; }
.langRadio { margin: 5px; }
.text { width: 300px; }
#formResult { position:relative; clear:left; border:1px solid black; }
#preview { display:none; }
/*#responseTextArea { resize: none; }*/
