.floatLeft { float: left; width: 800px; height: 900px; margin-left: 80px; position:relative }
.floatLeft > #rotBtn { position: absolute; right: 0; background: white; padding: 0; border: 0; margin: 1px; opacity: 0.5; z-index: 1; display:none; }
.floatLeft > #rotBtn > img { width: 50px; height: 50px; }
.floatLeft2 { float: left; height: 800px; }
.floatLeft2 > select { height: 40px; margin-top: 380px; }
.floatLeft3 { float: left; width: 800px; height: 900px; margin-top: -10px; margin-left: 80px; position:relative; border:1px solid #BDBDBD; padding: 3px;  background-image:URL('/images/box02.png'); background-size:100% 100%;}
/*.floatLeft2 { float: left; width: 500px; height: 800px; overflow: auto; margin: 5px; }*/
#img { width: 800px; height: 900px; z-index: 0;background-image:url('/images/box01.png'); background-size:100% 100%;}
.langRadio { margin: 5px; }
.text { width: 300px; }
#formResult { position:relative; clear:left; border:1px solid black; }
#preview { display:none; }
/*#responseTextArea { resize: none; }*/
body{background-image:url('/images/bg.png'); background-repeat: no-repeat; height: 1116px; background-size:100% 100%;}
.divName{ width: 850px;}
.ocrnamemargin{float: left; margin-top: 10px; width: 800px; margin-left: 80px;}
.fontsize{font-size: 30px;float: left; margin-bottom: 40px; color: white;}
.btd_icon{width: 50px; margin-top: 10px; float: right;}
.ocrName{margin-left: 100px;}
#popLayer{display: none;width: 500px;height: 550px;border: 1px solid black; background-color: white; border-radius: 10px;}
#previews{background-image:URL('/images/box04.png');width:370px; height:270px; background-size:100% 100%; margin-top: 15px; margin-left: 50px;}

.btd_cancel{width: 20px; float: right;margin-top: 7px;}
#formSelect{float: right;width: 300px; height: 40px;font-size: 15px;}
.uploadBtn{background: url('/images/btd_04.png') !important;width: 18%;height: 30px;margin: 5px 2px 2px 0px;display: inline-flex;cursor: pointer;}
.uploadInit{background: url('/images/btd_06.png') !important;width: 17%;height: 30px;margin: 5px 2px 2px 0;display: inline-flex;}
#previewbtn{margin-top: 20px;}
.btd_btn_result {margin: 5px 5px 5px 5px}
#uploadFileName{display:inline-block;margin-right: 10px;text-overflow: ellipsis;  overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
#close_btn{background-image:URL('/images/btd_close.png');}

